# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.myvenv/
.virtualenv/

# 환경 변수 파일
.env
.env.*

# 모델 파일 제외
app/ai/ai_models/*
!app/ai/ai_models/config.json
!app/ai/ai_models/tokenizer.json
!app/ai/ai_models/vocab.txt